@model IEnumerable<Phongkham.Models.LICHKHAM>
@{
    ViewBag.Title = "AppointmentSchedule";
    Layout = "~/Views/Shared/_MedicalRecordLayout.cshtml";
}

<h2>Lịch Khám của Bác Sĩ</h2>

<table class="table">

    <tr class="ten">
        <th class="danhmuc">
            Ngày hẹn
        </th>
        <th class="danhmuc">
            Dịch vụ
        </th>
        <th class="danhmuc">
            Ghi chú (nếu có)
        </th>
        <th class="danhmuc">
            Bác sĩ phụ trách
        </th>
        <th class="danhmuc">
            Tên bệnh nhân
        </th>
        <th class="danhmuc">
            Tình trạng
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="tsx">
            <td class="danhmuc">
                @Html.DisplayFor(modelItem => item.NgayHen)
            </td>
            <td class="danhmuc">
                @Html.DisplayFor(modelItem => item.DichVu)
            </td>
            <td class="danhmuc">
                @Html.DisplayFor(modelItem => item.NoteBN)
            </td>
            <td class="danhmuc">
                @Html.DisplayFor(modelItem => item.BACSI.TenBS)
            </td>
            <td class="danhmuc">
                @Html.DisplayFor(modelItem => item.BENHNHAN.TenBN)
            </td>
            <td class="danhmuc">
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDKham }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDKham }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDKham }) |
                @Html.ActionLink("Chấp nhận", "Accept", new { id = item.IDKham }) |
                @Html.ActionLink("Hủy", "Cancel", new { id = item.IDKham })
            </td>

        </tr>
    }
</table>