@model Phongkham.Models.LICHKHAM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
<script src="~/Scripts/script.js"></script>
<link href="~/Content/KHOA.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

@*--CSS Lịch hẹn*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

@*--//*@

<style>
    #main-content {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .tsx {
        font-size: 1.7rem;
        color: var(--black);
        line-height: 1.8;
        padding: 1rem 0;
    }

    .ten {
        color: var(--ligt-color);
        font-size: 2.5rem;
        padding: 1rem 0;
    }
</style>
<script>
    //--Lịch hẹn
    $(function () {
        $("#NgayHen").datepicker({
            dateFormat: "yy-mm-dd",
            minDate: 0
        });
    });
    //--
</script>
<div id="main-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h1 class="heading"><span>ĐẶT </span>LỊCH</h1>
            <div class="ten">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    Ngày
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NgayHen, new { @class = "form-control", @id = "NgayHen" })
                        @Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })

                        @*
                            @Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })
                        *@

                    </div>
                </div>

                <div class="form-group">
                    Loại dịch vụ
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DichVu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DichVu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Ghi chú (nếu có)
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoteBN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoteBN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Bác sĩ
                    <div class="col-md-10">
                        @Html.DropDownList("MaBS", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaBS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Họ tên
                    <div class="col-md-10">
                        @Html.DropDownList("MaBN", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaBN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    @*<div class="ten">
            @Html.ActionLink("Back to List", "Index")
        </div>*@
</div>

